
.faqs{
    background-color: transparent;
    width: 900px;
    padding: 50px;
}
.faqs h1 {
    text-align: center;
}
.accordion-header {
    margin-left: 10px;
    text-align: left;
}
.accordion-button {
    display: contents;
    font-weight: 1000;
}
.accordion-button:not(.collapsed){
    color: #f35f02;
}

@media screen and (max-width: 571px) {
    .faqs{
        
        width: auto;
        padding: auto;
    }
  }