* main {
    padding: 0;
    /* height: 50vh;
    margin-bottom: 10vw; */

 } 

.marquee {
    color:  #c0510c;
    font-family: 'Orbitron', sans-serif;
}
 .accordion-flush {
    border: 1px solid gray;
}

 .accordion-title {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.accordion-title h1 {
     margin-bottom: 10px;
}
.accord-container {
    display: flex;
}
    /* width: 100%;
    height: auto; 
    justify-content: center; 

    
}
.accordion-item{
    background-color: rgba(128, 128, 128, 0.11);
   
}
<<<<<<< HEAD
/* change the heading  */
/* .accordion-title {
    background-color: red;
} */

.form-control.shadow-orange:focus {
    border-color: #fc8702fb;
    box-shadow: 0 0 0 0.2rem #fca46e;
    
  }

  .panel .panel-default {
    border:rgba(128, 128, 128, 0.11);
  
  }

  