* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.marquee {
  color:  #f35f02;
  font-family: 'Orbitron', sans-serif;
  background-color:  rgb(48, 46, 46);
}

/* for dropdown list hover */
.dropdown:hover .dropdown-menu{
  display: block;
}
.dropdown-menu{
  margin-top: 0;
}

/* navbar hover color */
.navbar .navbar-nav .nav-link:hover{
    background-color: #f35f02;
    color: white;
}

.dropdown-item:hover{
    background-color: #f35f02;
    color: white;
}
.navbar .btn:hover{
    color: white;
}
.navbar{
    background-color: white;
}
.searchtop {
    background-color: white;
    box-shadow: #f35f02;
}
.searchtop .btn:hover{
    background-color: #f35f02;
    color: white;
}
body {
    font-family: 'Poppins', sans-serif;
}
.accordion-button:hover{
    /* background-color: #f35f02;
    color: white; */
    color: black;
}

.accordion-button:focus{
  box-shadow: none;
  text-decoration: none;
  
}

.copyright {
    background-color: #f35f02;
}
    
#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.column{
	width: 600px;
	padding: 10px;

}

#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
}

.thumbnail:hover{
	opacity:1;
}

.active{
	opacity: 1;
}

/* for kidsprod1 hover */
.colorcode .pink:hover{
    background-color: pink;
    color: white;
  }
  .colorcode .summer:hover{
    background-color: #f35f02;
    color: white;
  }
  .colorcode .night:hover{
    background-color: black;
    color: white;
  }
  .colorcode .nature:hover{
    background-color: green;
    color: white;
  }


/* for kidsprod2 hover */
  .colorcode .blue:hover{
    background-color: blue;
    color: white;
  }
  .colorcode .green:hover{
    background-color: green;
    color: white;
  }
  .colorcode .black:hover{
    background-color: black;
    color: white;
  }
  .colorcode .red:hover{
    background-color: red;
    color: white;
  }

  .text-reset {
    text-decoration: none;
  }

  .prof-image {
    width: 80%;
    padding-left: 25%;
  }


/* start index.html hover */
 .animation {
    position: relative;
    height: 400px;
    width: 350px;
    margin: 3% auto 0;
    
  }
  .animation img{
    position: absolute; 
    height: 400px;
    width: 350px;
   border: 1px solid rgb(145, 145, 145); 
    transition: opacity 0.5s ease-in-out;
  }
  
  .animation img.img-front:hover {
    opacity: 0;
    cursor: pointer;
    transform: revert-layer;
    
} 
/* end index.html */

/* start careers.html*/
main {

    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

    
    
/* }
.careers-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 5px;
  grid-gap: 2px;
 
  
  
  
}
.careers-image {
align-items: flex-end;
justify-content: flex-end;
height: 600px;
width: 300px;

 
}
.careers-text {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
} */

.careers-image {
  padding: 10px;
  
}

.careers-text{

  padding: 10px;
 
}

.careers-text h1 {
  font-family: 'Shrikhand', cursive;
  font-size: 80px;
  color: #FF914D;
  text-shadow: 3px 1px rgb(240, 206, 58);

}
.careers-text h2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 75px;
  /* padding-left: 150px; */
  text-transform: uppercase;
  color: #FF5F1F;
  text-shadow: 3px 1px pink;
 
}
.careers-text button {
  /* background-color: rgb(240, 206, 58); */
  padding: 5px 50px;
}

.imgabout {
  width: 150px;
  height: 60px;
}

.career-row {
  margin-right: 0;
  padding: 0 10%;
}
.responsive {
  width: 100%;
  height: 100%;

}

.offset-1{
  padding: 0;
  margin: 0;
}

.card-home{
  padding: 5% 0;
  margin: 0;
}

/* End Careers.html */

/* start FAQ page */
/* .accordion-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.accord-container {
  display: flex;
  width: 100%;
  justify-content: center;
  border: 1px solid green;
  
} */

/* end FAQ page */

.categories-link {
  text-decoration: none;
}

.form-control.shadow-orange:focus {
  border-color: #fc8702fb;
  box-shadow: 0 0 0 0.2rem #fca46e;
}

.highlight {
  background-color: #fc8702fb;
}

@media screen and (max-width: 991px) {
    #kids {
        color:#fc8702fb;;
    }
    .col-lg-4 {
      margin-top: 5%;
    }
}

@media screen and (max-width: 571px) {
  .prof-image {
    width: 100%;
    padding-left: 0;
  }
}

@media screen and (min-width:992px) {
  .navbar{
      padding: 0;
  }
}

.navbar .navbar-nav .nav-link{
  padding: 1em;
}
@media screen and (max-width:991px) {
  .navbar-brand{
      padding-left: .7em;
  }
}

footer {
  background-color: rgb(48, 46, 46);
  padding: 1px;
  margin: 1px;
  color: #f35f02;
}
.modal-header {
  background-color: #f35f02;
}
.modal-footer .btn:hover {
  background-color: #f18b4c;
  color: white;
}

.modal-footer .btn{
  background-color: #f35f02;
  color: white;
}
.cart {
  padding: 100px;
}

@media (min-width: 1025px) {
  .h-custom {
  height: 100vh !important;
  }
  }

.titleFeature {
  text-align: center;
}
.titleFeature img {
  width: 600px;
}
.bts:hover {
  background-color: purple;
  color: white;
}
.gold:hover{
  background-color: gold;
  color: white;
}
.lblue:hover{
  background-color: rgb(0, 238, 255);
  color: white;
}
.gray:hover {
  background-color:	rgb(128,128,128);
  color: white;
}
.silver:hover {
  background-color:	rgb(192,192,192);
  color: white;
}
